/* 爱心运动 */

.img_love{
	width:20%;
	  -webkit-animation: bounce 1s cubic-bezier(.68, .06, .68, .42) infinite alternate;
      animation: bounce 1s cubic-bezier(.68, .06, .68, .42) infinite alternate;
}

@-webkit-keyframes bounce {
  0%, 10% {
    top: 16px;
    -webkit-transform: scaleX(1) scaleY(1.2);
            transform: scaleX(1) scaleY(1.2);
  }
  100% {
    top: 178px;
    -webkit-transform: scaleX(1.2) scaleY(1);
            transform: scaleX(1.2) scaleY(1);
  }
}

@keyframes bounce {
  0%, 10% {
    top: 16px;
    -webkit-transform: scaleX(1) scaleY(1.2);
            transform: scaleX(1) scaleY(1.2);
  }
  100% {
    top: 178px;
    -webkit-transform: scaleX(1.2) scaleY(1);
            transform: scaleX(1.2) scaleY(1);
  }
}
